<div class="square-P" id="square1">
    <a class="title" href="https://patogmtp.github.io/dashboard-starter/" target="_blank">
        Personal Dashboard
        <img class="icon" src="assets/link.svg" alt="" srcset="">
    </a>
    <span class="description">
        <!-- A simple and clean dashboard with 4 independent widgets and a sidebar. This was made as part of a mini-capstone,
        with the requirement of using various web APIs to display data at either set intervals or real-time. The widgets I
        chose were a "To-Do" list, a Bitcoin tracker, a video game deal tracker, and a general reference-note widget. -->
        A simple and clean dashboard with 4 independent widgets and a sidebar. This was made as part of a mini-capstone,
        with the requirement of using various web APIs to display data at either set intervals or real-time.
        <br>
        <img class="icon" src="assets/click.svg" alt="" srcset="">
    </span>
</div>

<div class="square-P" id="square2">
    <a class="title" href="https://patogmtp.github.io/student-record-project-starter/" target="_blank">
        Student Records Table
        <img class="icon" src="assets/link.svg" alt="" srcset="">
    </a>
    <span class="description">
        <!-- This was a 1-day project that was meant to function as an excercise for putting together all the TypeScript fundamentals.
        The table displays a set of pseudo-randomly generated data, which can be sorted in ascending or descending order by any
        of the columns shown. The table allows you to create new records by inserting data at the bottom, and also allows you to
        edit records by entering "Edit Mode" upon double clicking the table's title. -->
        A 1-day project meant to function as an excercise for putting together all the TypeScript fundamentals.
        The table displays a set of pseudo-randomly generated data, which can be sorted in ascending or descending order by any
        of the columns shown, and also allows for basic editting.
        <br>
        <img class="icon" src="assets/click.svg" alt="" srcset="">
    </span>
</div>

<div class="square-P" id="square3">
    <a class="title" href="https://patogmtp.github.io/" target="_blank">
        Lego Water Bottle Website
        <img class="icon" src="assets/link.svg" alt="" srcset="">
    </a>
    <span class="description">
        <!-- This website was part of a 1-day project where a partner and I first chose some everyday object, in this case a water bottle, 
        and then made a sales-pitch presentation on why you should buy it. Upon completing the sales pitch, we were tasked with creating
        a website to accompany the product, and this was the result. The page shows some of the "features" of this mostly fake product,
        allowing you to choose and "buy" a bottle of your choosing. -->
        This website was part of a 1-day project where a partner and I made a sales-pitch presentation on an everyday object.
        The page shows some of the "features" of our version of the product, allowing you to choose and "buy" a bottle of your choosing.
        <br>
        <img class="icon" src="assets/click.svg" alt="" srcset="">
    </span>
</div>

<div class="square-H social" id="square4">
    <div class="image_holder">
        <a href="https://github.com/PatoGMTP" target="_blank">
            <img class="icon" src="assets/link.svg" alt="" srcset="">
            <img src="assets/GitHub-Mark-120px-plus.png" id="logo" alt="" srcset="">
        </a>
        <a href="https://www.linkedin.com/in/patricio-garcia-6898a360/" target="_blank">
            <img src="assets/LinkedInLogo.png" id="logo" alt="" srcset="">
            <img class="icon" src="assets/link.svg" alt="" srcset="">
        </a>
    </div>
    <span class="description" id="reverse">
        Find me and more of my projects on GitHub and LinkedIn!
    </span>
</div>