<!-- 
Top bar


1. Page One
squares with info about me:
- Pic
- Info

square1: UH
- UH Logo
- 2021 Grad of ComSci

square2: Mexico+US
- Both flags
- Bilingual-multicultural programmer

square3: Nerd
- Video Games, pop culture, tech
- Passion for tech, pop culture, and IT


2. Page Two
squares with text info about projects, link to projects on GitHub
- Title
- Description

Square1: Dashboard
- Personal Dashboard
- Bootstrap-less Dashboard with 4 independent widgets

Square2: Student Records
- 1-Day project for highlighting TSC fundamentals
- Simple table for displaying and manipulating student records

Square3: Lego Water Bottle
- 1-Day project higlighting working with partner and converting sales material into page
- Simple page for a "fake" water bottle, allows you to "buy" it with some options.


Bottom bar


SKETCH!



 ---------------------
| Home       Projects |
 ---------------------
|       -------       |
|      |   S1  |      |
|      |       |      |
|       -------       |
|                     |
|       -------       |
|      |   S2  |      |
|      |       |      |
|       -------       |
|                     |
|       -------       |
|      |   S3  |      |
|      |       |      |
|       -------       |
 ---------------------
| Made by PatoGM      |
 ---------------------


 -->

 <header>
   <a id="home" routerLink="home">
     Personal Info
   </a>
   <a id="projects" routerLink="projects">
     Current Projects
   </a>
 </header>

 <div class="content" [@triggerName]="prepareRoute(outlet)">
   <router-outlet #outlet="outlet" hidden></router-outlet>
 </div>

 <footer>
   <span>Made by Patricio Garcia. Built using Angular, TP December 2021</span>
 </footer>