<div class="square-H" id="square0">
    <div class="image_holder">
        <img src="assets/profile_pic.jpeg" id="profile" alt="" srcset="">
    </div>
    <span class="description">
        Hey there! My name is Patricio Garcia, welcome to my portfolio website! I'm a US-based programmer currently training at Talent Path.
    </span>
</div>

<div class="square-H" id="square1">
    <div class="image_holder">
        <img src="assets/logo2.svg" alt="" srcset="">
    </div>
    <span class="description">
        I graduated in Spring 2021 with a Bachelor's degree in Computer Science from the University of Houston.
    </span>
</div>

<div class="square-H" id="square2">
    <div class="image_holder">
        <img src="assets/Combined2.svg" id="wide" alt="" srcset="">
    </div>
    <span class="description">
        Born in Mexico but raised in the USA, I'm a bilingual programmer with a love for engaging with new cultures. 
    </span>
</div>

<div class="square-H" id="square3">
    <div class="image_holder">
        <img src="assets/logo2.svg" alt="" srcset="">
    </div>
    <span class="description">
        I have a passion for technology and IT, but also for video games and pop culture.
    </span>
</div>